<ul class="post-list">
  <li>
    <span class="post-meta">{{ site.posts.first.date | date: "%b %-d, %Y" }}</span>
    <h2>
      <a class="post-link" href="{{ site.posts.first.url | prepend: site.baseurl }}">Next event</a>
    </h2>
  </li>
  {% for post in site.posts offset: 1 %}
  <li>
    <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
    <h2>
      <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
    </h2>
  </li>
  {% endfor %}
</ul>
