{% comment %} Default to "unknown" {% endcomment %}
{% assign active_page = "unknown" %}

{% comment %} If the page is in the "shows" category, assume it's a past event {% endcomment %}
{% for c in page.categories %}
  {% if c == "shows" %}
    {% assign active_page = "past-events" %}
  {% endif %}
{% endfor %}

{% comment %} Otherwise set the active_page based on the URL {% endcomment %}
{% if page.url == "/" %}
  {% assign active_page = "next-event" %}
{% elsif page.url == "/about/" %}
  {% assign active_page = "about" %}
{% elsif page.url == "/past-events.html" %}
  {% assign active_page = "past-events" %}
{% endif %}

<ul class="post-list">
  <li>
    <h2 class="next-event-link">
      <a class="post-link {%if active_page == "next-event" %}active{% endif %}" href="{{ site.baseurl }}/">Next event</a>
    </h2>
  </li>
  <li>
    <h2 class="next-event-link">
      <a class="post-link {%if active_page == "about" %}active{% endif %}" href="{{ "/about/" | prepend: site.baseurl }}">About</a>
    </h2>
  </li>
  <li>
    <h2><a class="post-link {%if active_page == "past-events" %}active{% endif %}" href="{{ "/past-events.html" | prepend: site.baseurl }}">Past events</a></h2>
  </li>
</ul>
