@font-face
  font-family: Jaapokki
  src: url("#{$base-url}/fonts/Jaapokki-Regular.otf") format("opentype")

@font-face
  font-family: Myriad
  src: url("#{$base-url}/fonts/Myriad Roman.otf") format("opentype")

html, body
  background: url("#{$base-url}/img/texture.jpg")
  padding-top: 1em
  font-family: Myriad

footer
  text-transform: uppercase
  text-align: center
  color: #5d5d5d

#sidebar
  text-align: right
  font-family: Jaapokki

.post
  color: #5d5d5d
  text-align: right

.post h1
  text-transform: uppercase
  font-size: 1em

.post-list
  margin-top: 10px

.post-list a
  color: #fff
  text-transform: uppercase
  padding: 7px
  display: inline-block
  padding-bottom: 0

.post-list a.active
  border: 2px solid #fff
  padding: 5px
  padding-bottom: 0

.menu-divider
  color: #fff
  margin-top: 10px
  text-decoration: underline
  text-transform: uppercase
  font-size: 24px

.post-content img
  width: 100%

.post-separator
  margin: 15px 0

.past-event-summary
  text-transform: uppercase
  color: #5d5d5d

.past-event-summary a
  color: #5d5d5d
  font-size: 1em

.past-event-summary a:hover
  color: #fff

.contact-details, .contact-details a
  color: #5d5d5d
