---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">

  <h1 class="post-subheading">
      {{ page.date | date: "%A" }}
      {% assign d = page.date | date: "%-d" %}
      {% case d %}
      {% when '1' or '21' or '31' %}{{ d }}st
      {% when '2' or '22' %}{{ d }}nd
      {% when '3' or '23' %}{{ d }}rd
      {% else %}{{ d }}th
      {% endcase %}
      {{ page.date | date: "%b %Y" }}
  </h1>
  <div class="post-content" itemprop="articleBody">
    <img src="{{ site.baseurl }}/{{ page.flyer }}" />
    {{ content }}
  </div>

</article>
